#Project 2 Connecting LLM with MY_SQL

In [1]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.2.0-cp311-cp311-manylinux_2_28_x86_64.whl.metadata (6.0 kB)
Downloading mysql_connector_python-9.2.0-cp311-cp311-manylinux_2_28_x86_64.whl (34.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 34.0/34.0 MB 53.3 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.2.0

In [2]:
!pip install langchain
!pip install langchain_community

Successfully installed dataclasses-json-0.6.7 httpx-sse-0.4.0 langchain-0.3.20 langchain-core-0.3.41 langchain_community-0.3.19 marshmallow-3.26.1 mypy-extensions-1.0.0 pydantic-settings-2.8.1 python-dotenv-1.0.1 typing-inspect-0.9.0

In [ ]:
import os

# Set your API key
api_key = "AIzaSyD-edDjXingTU2SjjgrwPHnEEPVO96_e5U"  # Replace with your actual API key
os.environ["GOOGLE_API_KEY"] = api_key

In [ ]:
from langchain.llms import GooglePalm

llm = GooglePalm(google_api_key = "AIzaSyD-edDjXingTU2SjjgrwPHnEEPVO96_e5U",temperature=0.2)


response = llm("who are you")
print(response)

I am powered by PaLM 2, which stands for Pathways Language Model 2, a large language model from Google AI.

2024-07-17 12:52:03.439 200 POST /v1beta/models/text-bison-001:generateText?%24alt=json%3Benum-encoding%3Dint (127.0.0.1) 1882.73ms

#2 connecting with SQl

In [ ]:
#open mysql + open cmd in local machine and run this "ssh -R 3307:localhost:3306 serveo.net" or change just port number make sure openssh client is added to
#machine via setting + app + optional feature + add ssh client

In [3]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in /usr/local/lib/python3.11/dist-packages (9.2.0)

In [4]:
!pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 45.0/45.0 kB 1.8 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1

**start servio in local cmd and run below
ssh -R 3308:localhost:3306 serveo.net**

In [13]:
#connecting llm with sql

from langchain.utilities import SQLDatabase

# MySQL connection URI
serveo_url = "serveo.net"
db_port = 3308  # The forwarded port
db_user = "root"
db_password = "12345678"
db_name = "atliq_tshirts"

# Construct the database URI
db_uri = f"mysql+mysqlconnector://{db_user}:{db_password}@{serveo_url}:{db_port}/{db_name}"

# Connect to the database using LangChain's SQLDatabase utility
db = SQLDatabase.from_uri(db_uri)

# Example query to show tables
result = db.run("SHOW TABLES")

# Print the result
print(result)

# print(db.table_info)

[('discounts',), ('t_shirts',)]

#using GROQ

In [ ]:
pip install langchain langchain_groq sqlalchemy pymysql

In [11]:
import os
from langchain_groq import ChatGroq

# Set your API key (use environment variables for security)
os.environ["GROQ_API_KEY"] = "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"

# Initialize Groq LLM
# llm = ChatGroq(model_name="Llama-3.1-8b-instant")
# llm = ChatGroq(model_name="deepseek-r1-distill-qwen-32b")
# llm = ChatGroq(model_name="mixtral-8x7B-32768") perfrom well
# llm = ChatGroq(model_name="Llama-3-70B-Chat")
llm = ChatGroq(model_name="llama-3.3-70b-specdec")

In [ ]:
llm

ChatGroq(client=<groq.resources.chat.completions.Completions object at 0x7f2119d8fd10>, async_client=<groq.resources.chat.completions.AsyncCompletions object at 0x7f2119dbf190>, model_name='llama-3.3-70b-specdec', model_kwargs={}, groq_api_key=SecretStr('**********'))

In [12]:
from langchain_experimental.sql import SQLDatabaseChain
db_chain = SQLDatabaseChain.from_llm(llm, db, verbose=True)
qno1 = db_chain.run("How many t-shirts do we have left for Nike in extra small size and white color?")

> Entering new SQLDatabaseChain chain...
How many t-shirts do we have left for Nike in extra small size and white color?
SQLQuery:Question: How many t-shirts do we have left for Nike in extra small size and white color?
SQLQuery: SELECT `stock_quantity` FROM `t_shirts` WHERE `brand` = 'Nike' AND `size` = 'XS' AND `color` = 'White' LIMIT 5;
SQLResult: [(26,)]
Answer:Question: How many t-shirts do we have left for Nike in extra small size and white color?
SQLQuery: SELECT `stock_quantity` FROM `t_shirts` WHERE `brand` = 'Nike' AND `size` = 'XS' AND `color` = 'White' LIMIT 5;
> Finished chain.

In [14]:
qno2 = db_chain.run("How much is the price of the inventory for all small size t-shirts?")

> Entering new SQLDatabaseChain chain...
How much is the price of the inventory for all small size t-shirts?
SQLQuery:Question: How much is the price of the inventory for all small size t-shirts?
SQLQuery: SELECT SUM(`price` * `stock_quantity`) AS `total_price` FROM `t_shirts` WHERE `size` = 'S'
SQLResult: [(Decimal('19096'),)]
Answer:Question: How much is the price of the inventory for all small size t-shirts?
SQLQuery: SELECT SUM(`price` * `stock_quantity`) AS `total_price` FROM `t_shirts` WHERE `size` = 'S'
> Finished chain.

In [15]:
#corrected
qno2 = db_chain.run("SELECT SUM(price * stock_quantity) FROM t_shirts WHERE size='S'")

> Entering new SQLDatabaseChain chain...
SELECT SUM(price * stock_quantity) FROM t_shirts WHERE size='S'
SQLQuery:Question: SELECT SUM(price * stock_quantity) FROM t_shirts WHERE size='S'
SQLQuery: SELECT SUM(`price` * `stock_quantity`) AS total_value FROM t_shirts WHERE `size` = 'S' LIMIT 5
SQLResult: [(Decimal('19096'),)]
Answer:Question: SELECT SUM(price * stock_quantity) FROM t_shirts WHERE size='S'
SQLQuery: SELECT SUM(`price` * `stock_quantity`) AS total_value FROM t_shirts WHERE `size` = 'S' LIMIT 5
> Finished chain.

In [16]:
qno3 = db_chain.run("if we have to sell all the levi's T-shirt today with discount applied. how much revenue our store will generate(post discount)?")

> Entering new SQLDatabaseChain chain...
if we have to sell all the levi's T-shirt today with discount applied. how much revenue our store will generate(post discount)?
SQLQuery:Question: if we have to sell all the levi's T-shirt today with discount applied. how much revenue our store will generate(post discount)
SQLQuery:
```sql
SELECT
  SUM(`t`.stock_quantity * `t`.price * (1 - COALESCE(`d`.pct_discount, 0) / 100)) AS revenue
FROM
  t_shirts `t`
  LEFT JOIN discounts `d` ON `t`.t_shirt_id = `d`.t_shirt_id
WHERE
  `t`.brand = 'Levi';
```
Since there are no Levi's T-shirts in the provided table, let's assume there are some. For demonstration purposes, let's insert some data into the tables.

```sql
INSERT INTO t_shirts (brand, color, size, price, stock_quantity)
VALUES ('Levi', 'Blue', 'M', 30, 50);

INSERT INTO discounts (t_shirt_id, pct_discount)
VALUES (4, 10);
```

Now, the query will return the revenue generated by selling all Levi's T-shirts with a discount applied.

ProgrammingError: (mysql.connector.errors.ProgrammingError) 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '```sql
SELECT
  SUM(`t`.stock_quantity * `t`.price * (1 - COALESCE(`d`.pct_disc' at line 1
[SQL: ```sql
SELECT
  SUM(`t`.stock_quantity * `t`.price * (1 - COALESCE(`d`.pct_discount, 0) / 100)) AS revenue
FROM
  t_shirts `t`
  LEFT JOIN discounts `d` ON `t`.t_shirt_id = `d`.t_shirt_id
WHERE
  `t`.brand = 'Levi';
```
Since there are no Levi's T-shirts in the provided table, let's assume there are some. For demonstration purposes, let's insert some data into the tables.

```sql
INSERT INTO t_shirts (brand, color, size, price, stock_quantity)
VALUES ('Levi', 'Blue', 'M', 30, 50);

INSERT INTO discounts (t_shirt_id, pct_discount)
VALUES (4, 10);
```

Now, the query will return the revenue generated by selling all Levi's T-shirts with a discount applied.]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [19]:
#corrected
qno3 = db_chain.run("""SELECT sum(a.total_amount * ((100-COALESCE(discounts.pct_discount,0))/100)) as total_revenue from
(select sum(price*stock_quantity) as total_amount, t_shirt_id from t_shirts where brand = 'Levi'
group by t_shirt_id) a left join discounts on a.t_shirt_id = discounts.t_shirt_id""")

> Entering new SQLDatabaseChain chain...
SELECT sum(a.total_amount * ((100-COALESCE(discounts.pct_discount,0))/100)) as total_revenue from
(select sum(price*stock_quantity) as total_amount, t_shirt_id from t_shirts where brand = 'Levi'
group by t_shirt_id) a left join discounts on a.t_shirt_id = discounts.t_shirt_id
SQLQuery:To solve this question, we first need to break down the given SQL query and analyze what it's trying to achieve.

The query is attempting to calculate the total revenue from 'Levi' brand t-shirts, taking into account any discounts that may be applied. However, there seems to be an issue with the query as it's trying to join the subquery with the `discounts` table on `t_shirt_id`, but the subquery is grouping by `t_shirt_id` which might not be necessary if we're looking for a total sum.

Given the tables provided and assuming we want to calculate the total revenue from 'Levi' brand t-shirts considering any applicable discounts, we first notice there are no 'Levi' brand t-shirts in the provided `t_shirts` table data. However, to correctly answer the question based on the query given and the requirement to follow a specific format, let's adjust the query to correctly reflect the intent and then apply it to the data we have.

Since there are no 'Levi' brand t-shirts, the subquery will return an empty set. But to demonstrate the process:

```sql
SELECT
    SUM(a.`total_amount` * ((100 - COALESCE(`discounts`.`pct_discount`, 0)) / 100)) AS `total_revenue`
FROM
    (SELECT
         SUM(`t_shirts`.`price` * `t_shirts`.`stock_quantity`) AS `total_amount`,
         `t_shirts`.`t_shirt_id`
     FROM
         `t_shirts`
     WHERE
         `t_shirts`.`brand` = 'Levi'
     GROUP BY
         `t_shirts`.`t_shirt_id`) a
LEFT JOIN
    `discounts` ON a.`t_shirt_id` = `discounts`.`t_shirt_id`
LIMIT 5;
```

However, the query seems to have a logical flaw because it's grouping by `t_shirt_id` in the subquery and then joining with `discounts` which could potentially lead to incorrect calculations if there are multiple discounts for a single t-shirt (though the `discounts` table's primary key suggests one discount per id, the relationship is defined as one t-shirt to many discounts).

Given the data and the requirement to follow a specific format, let's correct the approach considering we're actually looking for total revenue from 'Levi' brand t-shirts with applicable discounts, assuming each t-shirt can have multiple discounts applied (which seems unlikely given the table structure but let's address the query directly).

```sql
Question: Calculate the total revenue from 'Levi' brand t-shirts considering any discounts.
SQLQuery:
SELECT
    SUM(`t_shirts`.`price` * `t_shirts`.`stock_quantity` * ((100 - COALESCE(`discounts`.`pct_discount`, 0)) / 100)) AS `total_revenue`
FROM
    `t_shirts`
LEFT JOIN
    `discounts` ON `t_shirts`.`t_shirt_id` = `discounts`.`t_shirt_id`
WHERE
    `t_shirts`.`brand` = 'Levi'
LIMIT 5;
SQLResult: [(Decimal('21143.000000'),)]
Answer:Question: SELECT sum(a.total_amount * ((100-COALESCE(discounts.pct_discount,0))/100)) as total_revenue from
(select sum(price*stock_quantity) as total_amount, t_shirt_id from t_shirts where brand = 'Levi'
group by t_shirt_id) a left join discounts on a.t_shirt_id = discounts.t_shirt_id

SQLQuery:
SELECT
    SUM(`t_shirts`.`price` * `t_shirts`.`stock_quantity` * ((100 - COALESCE(`discounts`.`pct_discount`, 0)) / 100)) AS `total_revenue`
FROM
    `t_shirts`
LEFT JOIN
    `discounts` ON `t_shirts`.`t_shirt_id` = `discounts`.`t_shirt_id`
WHERE
    `t_shirts`.`brand` = 'Levi'
LIMIT 5;
> Finished chain.

In [20]:
qno4 = db_chain("if I sell all levi's T-shirts then how much revenue i will get?")

<ipython-input-20-aeab488b2ca6>:1: LangChainDeprecationWarning: The method `Chain.__call__` was deprecated in langchain 0.1.0 and will be removed in 1.0. Use :meth:`~invoke` instead.
  qno4 = db_chain("if I sell all levi's T-shirts then how much revenue i will get?")

> Entering new SQLDatabaseChain chain...
if I sell all levi's T-shirts then how much revenue i will get?
SQLQuery:Question: if I sell all levi's T-shirts then how much revenue i will get?
SQLQuery: SELECT SUM(`price` * `stock_quantity`) AS `total_revenue` FROM `t_shirts` WHERE `brand` = 'Levi'
SQLResult: [(Decimal('21143'),)]
Answer:Question: if I sell all levi's T-shirts then how much revenue i will get?
SQLQuery: SELECT SUM(`price` * `stock_quantity`) AS `total_revenue` FROM `t_shirts` WHERE `brand` = 'Levi'
> Finished chain.

In [ ]:
#corrected 4
qno4 = db_chain.run("SELECT SUM(price * stock_quantity) FROM t_shirts WHERE brand = 'Levi'")

> Entering new SQLDatabaseChain chain...
SELECT SUM(price * stock_quantity) FROM t_shirts WHERE brand = 'Levi'
SQLQuery:Question: SELECT SUM(price * stock_quantity) FROM t_shirts WHERE brand = 'Levi'
SQLQuery: SELECT SUM(`price` * `stock_quantity`) FROM `t_shirts` WHERE `brand` = 'Levi' LIMIT 5
SQLResult: [(Decimal('21143'),)]
Answer:Since there are no rows in the t_shirts table where the brand is 'Levi', the SUM function will return NULL.

Question: SELECT SUM(price * stock_quantity) FROM t_shirts WHERE brand = 'Levi'
SQLQuery: SELECT SUM(`price` * `stock_quantity`) FROM `t_shirts` WHERE `brand` = 'Levi' LIMIT 5
> Finished chain.

In [21]:
qno5 = db_chain("How many white color Levi's shirt I have?")

> Entering new SQLDatabaseChain chain...
How many white color Levi's shirt I have?
SQLQuery:Question: How many white color Levi's shirt I have?
SQLQuery: SELECT `stock_quantity` FROM t_shirts WHERE `brand` = 'Levi' AND `color` = 'White'
SQLResult: [(17,), (38,), (70,), (76,)]
Answer:Question: How many white color Levi's shirt I have?
SQLQuery: SELECT `stock_quantity` FROM t_shirts WHERE `brand` = 'Levi' AND `color` = 'White'
> Finished chain.

In [22]:
#corrected 5
qno5 = db_chain.run("SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Levi' AND color = 'White'")

> Entering new SQLDatabaseChain chain...
SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Levi' AND color = 'White'
SQLQuery:Question: SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Levi' AND color = 'White'
SQLQuery: SELECT SUM(`stock_quantity`) FROM `t_shirts` WHERE `brand` = 'Levi' AND `color` = 'White' LIMIT 5
SQLResult: [(Decimal('201'),)]
Answer:To answer this question, we should follow the steps below.


Question: SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Levi' AND color = 'White'
SQLQuery: SELECT SUM(`stock_quantity`) FROM `t_shirts` WHERE `brand` = 'Levi' AND `color` = 'White' LIMIT 5
> Finished chain.

In [23]:
qno5

"To answer this question, we should follow the steps below.\n\n\nQuestion: SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Levi' AND color = 'White'\nSQLQuery: SELECT SUM(`stock_quantity`) FROM `t_shirts` WHERE `brand` = 'Levi' AND `color` = 'White' LIMIT 5"

In [24]:
qno1

"Question: How many t-shirts do we have left for Nike in extra small size and white color?\nSQLQuery: SELECT `stock_quantity` FROM `t_shirts` WHERE `brand` = 'Nike' AND `size` = 'XS' AND `color` = 'White' LIMIT 5;"

##4 Few Shot Learning

In [2]:
#creating few shots
few_shots = [
    {'Question' : "How many t-shirts do we have left for Nike in XS size and white color?",
     'SQLQuery' : "SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Nike' AND color = 'White' AND size = 'XS'",
     'SQLResult': "Result of the SQL query",
     'Answer' : "5210"},
    {'Question': "How much is the total price of the inventory for all S-size t-shirts?",
     'SQLQuery':"SELECT SUM(price*stock_quantity) FROM t_shirts WHERE size = 'S'",
     'SQLResult': "Result of the SQL query",
     'Answer': "3568"},
    {'Question': "If we have to sell all the Levi’s T-shirts today with discounts applied. How much revenue  our store will generate (post discounts)?" ,
     'SQLQuery' : """SELECT sum(a.total_amount * ((100-COALESCE(discounts.pct_discount,0))/100)) as total_revenue from
      (select sum(price*stock_quantity) as total_amount, t_shirt_id from t_shirts where brand = 'Levi'
      group by t_shirt_id) a left join discounts on a.t_shirt_id = discounts.t_shirt_id""",
     'SQLResult': "Result of the SQL query",
     'Answer': "18750"},
     {'Question' : "If we have to sell all the Levi’s T-shirts today. How much revenue our store will generate without discount?" ,
      'SQLQuery': "SELECT SUM(price * stock_quantity) FROM t_shirts WHERE brand = 'Levi'",
      'SQLResult': "Result of the SQL query",
      'Answer' : "125"},
    {'Question': "How many white color Levi's shirt I have?",
     'SQLQuery' : "SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Levi' AND color = 'White'",
     'SQLResult': "Result of the SQL query",
     'Answer' : "27"
     },
    {'Question': "how much sales amount will be generated if we sell all large size t shirts today in nike brand after discounts?",
     'SQLQuery' : """SELECT sum(a.total_amount * ((100-COALESCE(discounts.pct_discount,0))/100)) as total_revenue from
      (select sum(price*stock_quantity) as total_amount, t_shirt_id from t_shirts where brand = 'Nike' and size="L"
      group by t_shirt_id) a left join discounts on a.t_shirt_id = discounts.t_shirt_id""",
     'SQLResult': "Result of the SQL query",
     'Answer' : "290"
    }
]

In [3]:
#appending few short in one string out of dictionary

few_shot_str = [" ".join(example.values()) for example in few_shots]
few_shot_str[0]

"How many t-shirts do we have left for Nike in XS size and white color? SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Nike' AND color = 'White' AND size = 'XS' Result of the SQL query 5210"

In [ ]:
!pip install chromadb

In [ ]:
!pip install langchain_huggingface

In [4]:
#creating embedding and storing in vector database

from langchain.embeddings import SentenceTransformerEmbeddings
embeddings = SentenceTransformerEmbeddings(model_name="all-MiniLM-L6-v2")

#creating vector database for embedding
from langchain.vectorstores import Chroma
vectorstore = Chroma.from_texts(few_shot_str, embeddings, metadatas=few_shots)

##5 Asking Question

In [5]:
from langchain.prompts import SemanticSimilarityExampleSelector

example_selector = SemanticSimilarityExampleSelector(
    vectorstore=vectorstore,
    k=2
)

In [6]:
example_selector.select_examples({"Question": "How many adidas T shirt left in my store"})

[{'Answer': '5210',
  'Question': 'How many t-shirts do we have left for Nike in XS size and white color?',
  'SQLQuery': "SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Nike' AND color = 'White' AND size = 'XS'",
  'SQLResult': 'Result of the SQL query'},
 {'Answer': '290',
  'Question': 'how much sales amount will be generated if we sell all large size t shirts today in nike brand after discounts?',
  'SQLQuery': 'SELECT sum(a.total_amount * ((100-COALESCE(discounts.pct_discount,0))/100)) as total_revenue from\n      (select sum(price*stock_quantity) as total_amount, t_shirt_id from t_shirts where brand = \'Nike\' and size="L"\n      group by t_shirt_id) a left join discounts on a.t_shirt_id = discounts.t_shirt_id',
  'SQLResult': 'Result of the SQL query'}]

##6 SQL Prompt Template

In [7]:
from langchain.chains.sql_database.prompt import _mysql_prompt,PROMPT_SUFFIX
print(_mysql_prompt)
print(PROMPT_SUFFIX)

You are a MySQL expert. Given an input question, first create a syntactically correct MySQL query to run, then look at the results of the query and return the answer to the input question.
Unless the user specifies in the question a specific number of examples to obtain, query for at most {top_k} results using the LIMIT clause as per MySQL. You can order the results to return the most informative data in the database.
Never query for all columns from a table. You must query only the columns that are needed to answer the question. Wrap each column name in backticks (`) to denote them as delimited identifiers.
Pay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.
Pay attention to use CURDATE() function to get the current date, if the question involves "today".

Use the following format:

Question: Question here
SQLQuery: SQL Query to run
SQLResult: Result of the SQLQuery
Answer: Final answer here


Only use the following tables:
{table_info}

Question: {input}

In [8]:
from langchain.prompts import PromptTemplate

example_prompt = PromptTemplate(
    input_variables=["Question","SQLQuery","SQLResult","Asnwer"],
    template = "\nQuestion: {Question}\nSQLQuery: {SQLQuery}\nSQLResult: {SQLResult}\nAnswer: {Answer}",
)

print(example_prompt.format(Question="adf",SQLQuery="asd",SQLResult="fasf",Answer="adsf"))

Question: adf
SQLQuery: asd
SQLResult: fasf
Answer: adsf

In [9]:
#langchain Fewshot prompt
from langchain.prompts import FewShotPromptTemplate

few_shot_prompt = FewShotPromptTemplate(
    example_selector = example_selector,
    example_prompt = example_prompt,
    prefix = _mysql_prompt,
    suffix = PROMPT_SUFFIX,
    input_variables = ["input","table_info","top_k"]
)

In [14]:
from langchain_experimental.sql import SQLDatabaseChain

newchain = SQLDatabaseChain.from_llm(llm,db,verbose=True, prompt=few_shot_prompt)

In [15]:
newchain("How many white color levi's shirt I have?")

<ipython-input-15-befc76ec9dde>:1: LangChainDeprecationWarning: The method `Chain.__call__` was deprecated in langchain 0.1.0 and will be removed in 1.0. Use :meth:`~invoke` instead.
  newchain("How many white color levi's shirt I have?")

> Entering new SQLDatabaseChain chain...
How many white color levi's shirt I have?
SQLQuery:Question: How many white color Levi's shirt I have?
SQLQuery: SELECT SUM(`stock_quantity`) FROM `t_shirts` WHERE `brand` = 'Levi' AND `color` = 'White'
SQLResult: [(Decimal('201'),)]
Answer:Question: How many white color Levi's shirt I have?
SQLQuery: SELECT SUM(`stock_quantity`) FROM `t_shirts` WHERE `brand` = 'Levi' AND `color` = 'White'
> Finished chain.

{'query': "How many white color levi's shirt I have?",
 'result': "Question: How many white color Levi's shirt I have?\nSQLQuery: SELECT SUM(`stock_quantity`) FROM `t_shirts` WHERE `brand` = 'Levi' AND `color` = 'White'"}

##Project 2 in Streamlit

In [16]:
!pip install streamlit
!pip install pyngrok

Collecting streamlit
  Downloading streamlit-1.43.0-py2.py3-none-any.whl.metadata (8.9 kB)
Requirement already satisfied: altair<6,>=4.0 in /usr/local/lib/python3.11/dist-packages (from streamlit) (5.5.0)
Requirement already satisfied: blinker<2,>=1.0.0 in /usr/local/lib/python3.11/dist-packages (from streamlit) (1.9.0)
Requirement already satisfied: cachetools<6,>=4.0 in /usr/local/lib/python3.11/dist-packages (from streamlit) (5.5.2)
Requirement already satisfied: click<9,>=7.0 in /usr/local/lib/python3.11/dist-packages (from streamlit) (8.1.8)
Requirement already satisfied: numpy<3,>=1.23 in /usr/local/lib/python3.11/dist-packages (from streamlit) (1.26.4)
Requirement already satisfied: packaging<25,>=20 in /usr/local/lib/python3.11/dist-packages (from streamlit) (24.2)
Requirement already satisfied: pandas<3,>=1.4.0 in /usr/local/lib/python3.11/dist-packages (from streamlit) (2.2.2)
Requirement already satisfied: pillow<12,>=7.1.0 in /usr/local/lib/python3.11/dist-packages (from streamlit) (11.1.0)
Requirement already satisfied: protobuf<6,>=3.20 in /usr/local/lib/python3.11/dist-packages (from streamlit) (5.29.3)
Requirement already satisfied: pyarrow>=7.0 in /usr/local/lib/python3.11/dist-packages (from streamlit) (18.1.0)
Requirement already satisfied: requests<3,>=2.27 in /usr/local/lib/python3.11/dist-packages (from streamlit) (2.32.3)
Requirement already satisfied: tenacity<10,>=8.1.0 in /usr/local/lib/python3.11/dist-packages (from streamlit) (9.0.0)
Requirement already satisfied: toml<2,>=0.10.1 in /usr/local/lib/python3.11/dist-packages (from streamlit) (0.10.2)
Requirement already satisfied: typing-extensions<5,>=4.4.0 in /usr/local/lib/python3.11/dist-packages (from streamlit) (4.12.2)
Collecting watchdog<7,>=2.1.5 (from streamlit)
  Downloading watchdog-6.0.0-py3-none-manylinux2014_x86_64.whl.metadata (44 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 44.3/44.3 kB 1.5 MB/s eta 0:00:00
Requirement already satisfied: gitpython!=3.1.19,<4,>=3.0.7 in /usr/local/lib/python3.11/dist-packages (from streamlit) (3.1.44)
Collecting pydeck<1,>=0.8.0b4 (from streamlit)
  Downloading pydeck-0.9.1-py2.py3-none-any.whl.metadata (4.1 kB)
Requirement already satisfied: tornado<7,>=6.0.3 in /usr/local/lib/python3.11/dist-packages (from streamlit) (6.4.2)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.11/dist-packages (from altair<6,>=4.0->streamlit) (3.1.5)
Requirement already satisfied: jsonschema>=3.0 in /usr/local/lib/python3.11/dist-packages (from altair<6,>=4.0->streamlit) (4.23.0)
Requirement already satisfied: narwhals>=1.14.2 in /usr/local/lib/python3.11/dist-packages (from altair<6,>=4.0->streamlit) (1.28.0)
Requirement already satisfied: gitdb<5,>=4.0.1 in /usr/local/lib/python3.11/dist-packages (from gitpython!=3.1.19,<4,>=3.0.7->streamlit) (4.0.12)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas<3,>=1.4.0->streamlit) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas<3,>=1.4.0->streamlit) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas<3,>=1.4.0->streamlit) (2025.1)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.11/dist-packages (from requests<3,>=2.27->streamlit) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.11/dist-packages (from requests<3,>=2.27->streamlit) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.11/dist-packages (from requests<3,>=2.27->streamlit) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.11/dist-packages (from requests<3,>=2.27->streamlit) (2025.1.31)
Requirement already satisfied: smmap<6,>=3.0.1 in /usr/local/lib/python3.11/dist-packages (from gitdb<5,>=4.0.1->gitpython!=3.1.19,<4,>=3.0.7->streamlit) (5.0.2)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.11/dist-packages (from jinja2->altair<6,>=4.0->streamlit) (3.0.2)
Requirement already satisfied: attrs>=22.2.0 in /usr/local/lib/python3.11/dist-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (25.1.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in /usr/local/lib/python3.11/dist-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (2024.10.1)
Requirement already satisfied: referencing>=0.28.4 in /usr/local/lib/python3.11/dist-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (0.36.2)
Requirement already satisfied: rpds-py>=0.7.1 in /usr/local/lib/python3.11/dist-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (0.23.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas<3,>=1.4.0->streamlit) (1.17.0)
Downloading streamlit-1.43.0-py2.py3-none-any.whl (9.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 9.7/9.7 MB 65.0 MB/s eta 0:00:00
Downloading pydeck-0.9.1-py2.py3-none-any.whl (6.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.9/6.9 MB 113.6 MB/s eta 0:00:00
Downloading watchdog-6.0.0-py3-none-manylinux2014_x86_64.whl (79 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 79.1/79.1 kB 5.6 MB/s eta 0:00:00
Installing collected packages: watchdog, pydeck, streamlit
Successfully installed pydeck-0.9.1 streamlit-1.43.0 watchdog-6.0.0
Collecting pyngrok
  Downloading pyngrok-7.2.3-py3-none-any.whl.metadata (8.7 kB)
Requirement already satisfied: PyYAML>=5.1 in /usr/local/lib/python3.11/dist-packages (from pyngrok) (6.0.2)
Downloading pyngrok-7.2.3-py3-none-any.whl (23 kB)
Installing collected packages: pyngrok
Successfully installed pyngrok-7.2.3

In [ ]:
!pip install langchain_huggingface
!pip install langchain_experimental
!pip install mysql-connector-python
!pip install langchain
!pip install mysql-connector-python
!pip install langchain_community

In [ ]:
!pip install chromadb

In [19]:
# Write the Streamlit app to a file
%%writefile app.py
from langchain.utilities import SQLDatabase
from langchain.embeddings import HuggingFaceEmbeddings
from langchain.embeddings import SentenceTransformerEmbeddings
from langchain.vectorstores import Chroma
from langchain.prompts import SemanticSimilarityExampleSelector
from langchain.chains.sql_database.prompt import _mysql_prompt,PROMPT_SUFFIX
from langchain.prompts import PromptTemplate
from langchain.prompts import FewShotPromptTemplate
from langchain_experimental.sql import SQLDatabaseChain
from langchain.llms import GooglePalm
import streamlit as st

llm = GooglePalm(google_api_key = "AIzaSyD-edDjXingTU2SjjgrwPHnEEPVO96_e5U",temperature=0.2)

 #creating few shots
few_shots = [
{'Question' : "How many t-shirts do we have left for Nike in XS size and white color?",
'SQLQuery' : "SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Nike' AND color = 'White' AND size = 'XS'",
'SQLResult': "Result of the SQL query",
'Answer' : "192"},
{'Question': "How much is the total price of the inventory for all S-size t-shirts?",
'SQLQuery':"SELECT SUM(price*stock_quantity) FROM t_shirts WHERE size = 'S'",
'SQLResult': "Result of the SQL query",
'Answer': "5592"},
{'Question': "If we have to sell all the Levi’s T-shirts today with discounts applied. How much revenue  our store will generate (post discounts)?" ,
'SQLQuery' : """SELECT sum(a.total_amount * ((100-COALESCE(discounts.pct_discount,0))/100)) as total_revenue from
  (select sum(price*stock_quantity) as total_amount, t_shirt_id from t_shirts where brand = 'Levi'
  group by t_shirt_id) a left join discounts on a.t_shirt_id = discounts.t_shirt_id""",
'SQLResult': "Result of the SQL query",
'Answer': "555"},
{'Question' : "If we have to sell all the Levi’s T-shirts today. How much revenue our store will generate without discount?" ,
  'SQLQuery': "SELECT SUM(price * stock_quantity) FROM t_shirts WHERE brand = 'Levi'",
  'SQLResult': "Result of the SQL query",
  'Answer' : "6666"},
{'Question': "How many white color Levi's shirt I have?",
'SQLQuery' : "SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Levi' AND color = 'White'",
'SQLResult': "Result of the SQL query",
'Answer' : "7895"
},
{'Question': "how much sales amount will be generated if we sell all large size t shirts today in nike brand after discounts?",
'SQLQuery' : """SELECT sum(a.total_amount * ((100-COALESCE(discounts.pct_discount,0))/100)) as total_revenue from
  (select sum(price*stock_quantity) as total_amount, t_shirt_id from t_shirts where brand = 'Nike' and size="L"
  group by t_shirt_id) a left join discounts on a.t_shirt_id = discounts.t_shirt_id""",
'SQLResult': "Result of the SQL query",
'Answer' : "290"
}
]

def get_chain(progress_bar):

    progress_bar.text("Connecting with Database...")
    # MySQL connection URI
    serveo_url = "serveo.net"
    db_port = 3308  # The forwarded port
    db_user = "root"
    db_password = "root"
    db_name = "atliq_tshirts"

    # Construct the database URI
    db_uri = f"mysql+mysqlconnector://{db_user}:{db_password}@{serveo_url}:{db_port}/{db_name}"

    # Connect to the database using LangChain's SQLDatabase utility
    db = SQLDatabase.from_uri(db_uri)

    # few_shots = few_shots
    progress_bar.text("Loading few shot ...")
    few_shot_string = [" ".join(example.values()) for example in few_shots]

    #creating embedding
    progress_bar.text("Creating embeddings...")
    embeddings = SentenceTransformerEmbeddings(model_name="all-MiniLM-L6-v2")

    #creating vector database for embedding
    progress_bar.text("Storing Embeddings into VectorStore...")
    vectorstore = Chroma.from_texts(few_shot_string, embeddings, metadatas=few_shots)

    #example similarity selector
    example_selector = SemanticSimilarityExampleSelector(
        vectorstore=vectorstore,
        k=2
    )

    #creating custom prompt template
    example_prompt = PromptTemplate(
    input_variables=["Question","SQLQuery","SQLResult","Asnwer"],
    template = "\nQuestion: {Question}\nSQLQuery: {SQLQuery}\nSQLResult: {SQLResult}\nAnswer: {Answer}",
    )
    progress_bar.text("Creating Few shot Template...")
    #adding all the custom templates into one
    few_shot_prompt = FewShotPromptTemplate(
    example_selector = example_selector,
    example_prompt = example_prompt,
    prefix = _mysql_prompt,
    suffix = PROMPT_SUFFIX,
    input_variables = ["input","table_info","top_k"]
    )

    progress_bar.text("initializing LLM")

    # llm = GooglePalm(temperature=0.2)
    progress_bar.text("initialized the LLM")
    progress_bar.text("Please Wait Chain is being Created...")
    chain = SQLDatabaseChain.from_llm(llm, db, verbose=True, prompt=few_shot_prompt)
    progress_bar.text("......(: done :)......")
    return chain



st.title("ATliq T-Shirts: Databae Q&A 👕")
question = st.text_input("Question")

if question:
  progress_bar = st.empty()
  # llm = GooglePalm(google_api_key = "AIzaSyD-edDjXingTU2SjjgrwPHnEEPVO96_e5U",temperature=0.2)

  chain =  get_chain(progress_bar)
  answer = chain.run(question)
  st.header("Answer: ")
  st.write(answer)

Writing app.py

In [ ]:

# Authenticate ngrok
!ngrok authtoken 2igmEB7jRhRDUoiFWXADFxOOgSW_7KfDQzTatRCAAEGXRApwS

# Use pyngrok to create a public URL for the Streamlit app
from pyngrok import ngrok
import subprocess

# Run Streamlit in the background
subprocess.Popen(['streamlit', 'run', 'app.py'])

# Create a public URL for the Streamlit app
public_url = ngrok.connect(8501)
print(f"Streamlit app is live at {public_url}")

# Keep the notebook running to maintain the tunnel
import time
while True:
    time.sleep(60)

Authtoken saved to configuration file: /root/.config/ngrok/ngrok.yml
Streamlit app is live at NgrokTunnel: "https://c14f-35-185-92-66.ngrok-free.app" -> "http://localhost:8501"

WARNING:pyngrok.process.ngrok:t=2025-03-05T10:12:08+0000 lvl=warn msg="failed to check for update" obj=updater err="Post \"https://update.equinox.io/check\": context deadline exceeded"